@import "~bootstrap/scss/bootstrap";

.main-container {
    padding: 2rem 5rem;
}

.title {
    font-size: 3.5rem;
}

.header {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.my {
    margin: 2.5rem 0;
}

.mx {
    margin: 0 2.5rem;
}

.text-center {
    margin: 0 auto;
}